body {
  background-color: #f3f3f3 !important;
  font-family: 'Oswald', sans-serif !important;
  color: #232528 !important;
}
.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: #2a2a72;
}
.text-bright {
  color: #009ffd;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: #232528;
  border-radius: 0 !important;
  border: 0.1rem solid #232528 !important;
}
.btn-black:hover {
  background: #232528 !important;
  color: #f3f3f3 !important;
}
.cart-icon {
  cursor: pointer;
}
